<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- App Name for Menus and Dialogs -->
    <key>CFBundleDisplayName</key>
    <string>The Word 121 Json Converter</string>
    <key>CFBundleName</key>
    <string>The Word 121 Json Converter</string>

    <!-- Version and Copyright for About Dialog -->
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Kos Ivantsov\nhttps://truetranslation.org
    </string>

    <!-- Dark Mode Support -->
    <key>NSRequiresAquaSystemAppearance</key>
    <false/>
</dict>
</plist>
